.header__link--search {
    width: 500px;
    height: 50px;
    top: 15px;
    border-radius: 5px;
}

.header__link--form {
    display: flex;
    align-items: center;
    margin-left: 96px;
    width: 563px;
    height: 80px;
    left: 475px;
}

.header__link--search {
    width: 500px;
    height: 50px;
    top: 15px;
    left: 31px;
    border-radius: 5px;
    background: #FFFFFF;
    color: #000000;
}

.header__link--search,
.header__link--logout,
.header__link--mypage,
.header__link--sell {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.header__link-group {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 463px;
    height: 80px;
    left: 1049px;
}

.header__link--logout {
    text-decoration: none;
    margin-top: 20px;
    width: 135px;
    height: 47px;
    top: 20px;
    left: 37px;
    color: #FFFFFF;
}

.header__link--mypage {
    text-decoration: none;
    margin-top: 20px;
    width: 135px;
    height: 47px;
    top: 20px;
    left: 181px;
    color: #FFFFFF;
}

.header__link--sell {
    width: 100px;
    height: 50px;
    top: 18px;
    left: 337px;
    border-radius: 4px;
    color: #000000;
}

.main {
    width: 1515px;
    height: 1149px;
    background: #FFFFFF;
}
.mypage-profile-form {
    width: 680px;
    height: 678px;
    top: 178px;
    margin-left: 416px;
}

.mypage-profile-form__heading-content__heading {
    width: 299px;
    height: 47px;
    top: 139px;
    margin-left: 190px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.mypage-profile-form__inner {
    margin-top: 48px;
}

.mypage-profile-form__group {
    margin-bottom: 32px;
}

.mypage-profile-form__user-image-group {
    height:150px;
    margin-bottom: 76px;

}

.mypage-profile-form__user-image {
    width: 150px;
    height: 150px;
    top: 233px;
    border-radius: 50%;
    background: #D9D9D9;
}

.user-image__select-button {
    width: 179px;
    height: 49px;
    top: 284px;
    margin-left: 190px;
    border-radius: 10px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #FFFFFF;
    color: #FF5555;
    border: 2px solid #FF5555;
}

.mypage-profile-form__label {
    width: 680px;
    height: 35px;
    top: 102px;
    display: block;
    margin-bottom: 8px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.mypage-profile-form__input {
    width: 680px;
    height: 59px;
    top: 137px;
    gap: 0px;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
}

.mypage-profile-form__error-message {
    color: #FF9494;
}

.mypage-profile-form__btn {
    margin: 60px auto 0;
    width: 680px;
    height: 65.25px;
    top: 888px;
    left: 417px;
    border-radius: 5px;
    border: 0;
    background: #FF5555;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.47px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.login-area {
    width: 257px;
    height: 53.29px;
    margin-top: 43px;
    margin-left: 261px;
}

.link-login {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0073CC;
}